/* General Styles
   ========================================================================== */ 
   body,html{
     height: 100%;
   }

   body{
     background-image:url(../images/above-atmosphere-clouds-37728.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
   }
  

/* ========================================================================== */ 


/* Font Styles
========================================================================== */ 
  @font-face{
  font-family: Badaboom;
  src: url(../fonts/BADABB__.TTF)

  }

/* ========================================================================== */ 

/* Heading Styles
========================================================================== */ 
  h1{
    font-family: Badaboom;
    font-size: 5em;
  }
  .title{
    padding-top: 40px;
  }


/* ========================================================================== */ 




/* Image Styles
========================================================================== */ 


/* ========================================================================== */ 


/* Footer Styles
========================================================================== */ 

/* ========================================================================== */ 


button{
  padding: 20px;

}

